{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime"
  ],
  "sourceMaps": true,
  "retainLines": true,
  "env": {
    "test": {
      "plugins": [
        "rewire-exports",
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  }
}
